<div class='container row col-md-12 col-xs-12'>
  <div class='col-md-8 col-xs-12'>
    <h1>Quiz Master</h1>
  </div>
  <div class='container-fluid col-md-12 col-xs-12'>
    <img src="<%= asset_path 'qm2_logo.jpg'%>">
    <img src="<%= asset_path 'background2.jpg'%>">
    <img src="<%= asset_path 'background6.jpeg'%>">
  </div>
  <div class='col-md-12 col-sm-6'>
    <h3>
      Welcome to Quizmaster! Quizmaster let's you take challenging quizzes as well as make your own.</br></br>
      Feel free to test and build your knowledge.</br></br>
      Earn badges, rewards and bragging rights.</br></br>
      Click on Quizzes tab to begin making or taking quizzes now!</br></br>
    </h3>
  </div>
</div>