<div class='container' id="signup-page">
  <h1>Quiz Master</h1>
  <img src="<%= asset_path 'qm2_logo.jpg'%>">

<h2>Sign Up</h2>

<form id="signup-form">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="password_confirm" placeholder="password_confirm">
  <input type="submit" name="Sign Up" class="btn btn-success">
  <a href="/" class="btn btn-info">Back</a>
</form>

<div id="signup-form-message"></div>

</div>